<div class="nav-top container" >
<div class="nav-left">
<button class="homeButton">Home</button>
<select class="dropdown">
    <option>Services</option>
    <option value="option1">Option 1</option>
    <option value="option2">Option 2</option>
    <option value="option3">Option 3</option>
  </select>   
  <select class="dropdown">
    <option >Location</option>
    <option value="option1">Option 1</option>
    <option value="option2">Option 2</option>
    <option value="option3">Option 3</option>
  </select>
</div>
<div class="nav-center">
  <div class="input-container">
    <input class="input" placeholder="search here">
    <button class="search-button"><i class="fas fa-search"></i></button>  </div>
</div>

<div class="nav-right">
  <img src="../../assets/images/icon.png" alt="Avatar" class="avatar">
  <button class="loginButton" (click)="navigateToLoginPage()">Login</button>
</div>
</div>
